package ${package}.dao.${module};

import ${package}.entity.${module}.${className};

import java.util.List;

/**
 * @author ${author}
 * @date ${datetime}
 * @company ${company}
 * @description $!{comment}
 */
public interface ${className}Mapper {

    /**
     * 添加 （返回主键ID）
     * @param ${classNameSmall}
     * @return
     */
    int insert(${className} ${classNameSmall});

#if($isLogicDelete)
    /**
     * 逻辑删除（将is_delete 标记为置为 1）
     * @param $pk.attrType
     * @return
     */
    int deleteLogic($pk.attrType $pk.attrNameSmall);
#else
    /**
     * 物理删除
     * @param $pk.attrNameSmall
     * @return
     */
    int delete($pk.attrType $pk.attrNameSmall);
#end

#if($batchDelete)
    /**
     * 批量删除
     * @param ${pk.attrNameSmall}s
     * @return
     */
    int batchDelete(${pk.attrType}[] ${pk.attrNameSmall}s);
#end

    /**
     * 修改
     * @param ${classNameSmall}
     * @return
     */
    int update(${className} ${classNameSmall});

    /**
     * 通过主键查询
     * @param $pk.attrNameSmall
     * @return
     */
    ${className} get($pk.attrType $pk.attrNameSmall);

    /**
     * 多条件查询
     * @param ${classNameSmall}
     * @return
     */
    List<${className}> list(${className} ${classNameSmall});

#if($fuzzyLookup)
    /**
     * 多条件模糊查询
     * @param ${classNameSmall}
     * @return
     */
    List<${className}> listByFuzzy(${className} ${classNameSmall});
#end
}
