package ${package}.entity.${module};

import org.apache.commons.lang3.builder.ToStringBuilder;
import org.apache.commons.lang3.builder.ToStringStyle;
#if($isNeedDate)
import java.util.Date;
#end
#if($isNeedBigDecimal)
import java.math.BigDecimal;
#end


/**
 * @author ${author}
 * @date ${datetime}
 * @company ${company}
 * @description $!{comment}
 */
public class ${className} {

#foreach($column in $columns)
    /**
     * $column.comment
     */
    private #if($column.attrType == "Date")String#else$column.attrType#end $column.attrNameSmall;

#end

    @Override
    public String toString() {
        return ToStringBuilder.reflectionToString(this, ToStringStyle.SHORT_PREFIX_STYLE);
    }

#foreach($column in $columns)
    public #if($column.attrType == "Date")String#else$column.attrType#end get${column.attrName}(){
        return ${column.attrNameSmall};
    }

    public void set${column.attrName}(#if($column.attrType == "Date")String#else$column.attrType#end ${column.attrNameSmall}){
        this.${column.attrNameSmall} = ${column.attrNameSmall};
    }

#end

}
