<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${package}.dao.${module}.${className}Mapper">

    <!-- 增加 -->
    <insert id="insert" parameterType="${package}.entity.${module}.${className}" >
        <selectKey resultType="${pk.attrType}" order="BEFORE" keyProperty="${pk.attrNameSmall}">
            select ${oracleSequence}.nextval  as ${pk.attrNameSmall}  from dual
        </selectKey>
        insert into ${tableName}
        (
#foreach($column in $columns)
            $column.columnName#if($velocityCount != $columns.size()),#end

#end
        )
        values
        (
#foreach($column in $columns)
#if($column.attrNameSmall == 'createTime' || $column.attrNameSmall == 'updateTime' )##创建日期，更新日期单独处理
            sysdate#if($velocityCount != $columns.size()),#end
#elseif($column.isDateType == 1)##日期单独处理
            <if test = "$column.attrNameSmall != null and $column.attrNameSmall.trim() != '' ">to_date(#{$column.attrNameSmall,jdbcType=$column.jdbcType},'yyyy-mm-dd hh24:mi:ss')#if($velocityCount != $columns.size()), #end</if>##

            <if test = "$column.attrNameSmall == null or $column.attrNameSmall.trim() == '' ">null#if($velocityCount != $columns.size()), #end</if>##
#else
            #{$column.attrNameSmall,jdbcType=$column.jdbcType}#if($velocityCount != $columns.size()),#end
#end

#end
        )
    </insert>

#if($batchInsert)
    <!-- 批量插入 -->
    <insert id="batchInsert" parameterType="${package}.entity.${module}.${className}">
        insert into ${tableName}
        select ${oracleSequence}.nextval, A.* from (
        <foreach close=")" collection="list" item="item" index="index" open="(" separator="union all">
            select
#foreach($column in $columns)
#if($column.columnName != $pk.columnName)##除了主键的其它列
#if($column.attrNameSmall == 'createTime'  || $column.attrNameSmall == 'updateTime')##创建日期，更新日期单独处理
                sysdate as "$column.attrNameSmall" #if($velocityCount != $columns.size()),#end
#elseif($column.isDateType == 1)##日期单独处理
                <if test = "$column.attrNameSmall != null and $column.attrNameSmall.trim() != '' ">to_date(#{item.$column.attrNameSmall,jdbcType=$column.jdbcType},'yyyy-mm-dd hh24:mi:ss') "$column.attrNameSmall"#if($velocityCount != $columns.size()), #end</if>##

                <if test = "$column.attrNameSmall == null or $column.attrNameSmall.trim() == '' ">null "$column.attrNameSmall"#if($velocityCount != $columns.size()), #end</if>##
#else
                #{item.$column.attrNameSmall,jdbcType=$column.jdbcType} "$column.attrNameSmall"#if($velocityCount != $columns.size()),#end
#end

#end
#end
          from dual
        </foreach>
        ) A
    </insert>
#end

#if($isLogicDelete)
    <!-- 逻辑删除 -->
    <delete id="deleteLogic" >
        update ${tableName} set is_delete = 1
        where $pk.columnName = #{$pk.attrNameSmall}
    </delete>
#else
    <!-- 物理删除 -->
    <delete id="delete" >
        delete from ${tableName}
        where $pk.columnName = #{$pk.attrNameSmall}
    </delete>
#end

#if($batchDelete)
    <!-- 批量删除 -->
    <delete id="batchDelete" >
#if($isLogicDelete)
        update ${tableName} set is_delete = 1
#else
        delete from ${tableName}
#end
        where $pk.columnName in
        <foreach collection="array" item="${pk.attrNameSmall}" open="(" separator="," close=")">
            #{$pk.attrNameSmall}
        </foreach>
    </delete>
#end

    <!-- 修改 -->
    <update id="update" parameterType="${package}.entity.${module}.${className}">
        update ${tableName}
        <set>
#foreach($column in $columns)
#if($column.columnName != $pk.columnName)##除了主键的其它列
#if($column.attrNameSmall == 'updateTime')##更新日期，更新时间单独处理
            $column.columnName = sysdate,
#elseif($column.isDateType == 1)
            <if test="$column.attrNameSmall != null and $column.attrNameSmall.trim() != '' ">$column.columnName = to_date(#{$column.attrNameSmall,jdbcType=$column.jdbcType},'yyyy-mm-dd hh24:mi:ss'),</if>
            <if test="$column.attrNameSmall == null or $column.attrNameSmall.trim() == '' ">$column.columnName = null,</if>
#else
            <if test="$column.attrNameSmall != null">$column.columnName = #{$column.attrNameSmall,jdbcType=$column.jdbcType},</if>
#end
#end
#end
        </set>
        where $pk.columnName = #{$pk.attrNameSmall}
    </update>

#if($batchUpdate)
    <!-- 批量更新 -->
    <update id="batchUpdate"  parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
            update ${tableName} t
            <set>
#foreach($column in $columns)
#if($column.columnName != $pk.columnName)##除了主键的其它列
#if($column.attrNameSmall == 'updateTime')##更新日期，更新时间单独处理
                $column.columnName = sysdate,
#elseif($column.isDateType == 1)
                <if test="item.$column.attrNameSmall != null and $column.attrNameSmall.trim() != '' ">$column.columnName = to_date(#{item.$column.attrNameSmall,jdbcType=$column.jdbcType},'yyyy-mm-dd hh24:mi:ss'),</if>
                <if test="item.$column.attrNameSmall == null or $column.attrNameSmall.trim() == '' ">$column.columnName = null,</if>
#else
                <if test="item.$column.attrNameSmall != null">$column.columnName = #{item.$column.attrNameSmall,jdbcType=$column.jdbcType},</if>
#end
#end
#end
            </set>
            where $pk.columnName = #{item.$pk.attrNameSmall}
        </foreach>
    </update>
#end
    <!-- 通过主键ID查询 -->
    <select id="get" resultType="${package}.entity.${module}.${className}">
        select
#foreach($column in $columns)
#if($column.isDateType == 1)
            to_char(t.${column.columnName},'yyyy-mm-dd hh24:mi:ss') $column.attrNameSmall #if($velocityCount != $columns.size()),#end
#else
            t.${column.columnName} $column.attrNameSmall #if($velocityCount != $columns.size()),#end
#end

#end
        from ${tableName} t
        where t.${pk.columnName} = #{$pk.attrNameSmall}
    </select>

    <!-- 多条件查询 -->
    <select id="list" resultType="${package}.entity.${module}.${className}">
        select
#foreach($column in $columns)
#if($column.isDateType == 1)
            to_char(t.${column.columnName},'yyyy-mm-dd hh24:mi:ss') $column.attrNameSmall #if($velocityCount != $columns.size()),#end
#else
            t.${column.columnName} $column.attrNameSmall#if($velocityCount != $columns.size()),#end
#end

#end
        from ${tableName} t
        where 1 = 1
#if($isLogicDelete)
        and t.is_delete = 0
#end
#foreach($column in $columns)
        <if test="$column.attrNameSmall != null and $column.attrNameSmall.trim() != '' ">and t.${column.columnName} = #{$column.attrNameSmall}</if>
#end
        order by t.${pk.attrNameSmall} desc
    </select>

#if($fuzzyLookup)
    <!-- 多条件模糊查询 -->
    <select id="listByFuzzy" resultType="${package}.entity.${module}.${className}">
        select
#foreach($column in $columns)
#if($column.isDateType == 1)
            to_char(t.${column.columnName},'yyyy-mm-dd hh24:mi:ss') $column.attrNameSmall #if($velocityCount != $columns.size()),#end
#else
            t.${column.columnName} $column.attrNameSmall#if($velocityCount != $columns.size()),#end
#end

#end
        from ${tableName} t
        where 1=1
#if($isLogicDelete)
        and t.is_delete = 0
#end
#foreach($column in $columns)
        <if test="$column.attrNameSmall != null and $column.attrNameSmall.trim() != '' ">and t.${column.columnName} #if($column.attrType == "String")like concat('%',#{$column.attrNameSmall},'%')#else= #{$column.attrNameSmall}#end </if>
#end
        order by t.${pk.attrNameSmall} desc
    </select>
#end
</mapper>