package ${package}.service.${module};

import ${package}.entity.${module}.${className};
#if($sidePagination == "server")
import ${package}.common.Page;
#end
import java.util.List;

/**
 * @author ${author}
 * @date ${datetime}
 * @company ${company}
 * @description $!{comment}
 */
public interface ${className}Service {

    /**
     * 添加 （返回主键ID）
     * @param ${classNameSmall}
     * @return
     */
    int insert(${className} ${classNameSmall});

#if($batchInsert)
    /**
     * 批量插入
     * @param ${classNameSmall}s
     * @return
     */
    boolean batchInsert(List<${className}> ${classNameSmall}s);
#end

#if($isLogicDelete)
    /**
     * 逻辑删除（将is_delete 标记为置为 1）
     * @param $pk.attrType
     * @return
     */
    int deleteLogic($pk.attrType $pk.attrNameSmall);
#else
    /**
     * 物理删除
     * @param $pk.attrNameSmall
     * @return
     */
    int delete($pk.attrType $pk.attrNameSmall);
#end

#if($batchDelete)
    /**
     * 批量删除
     * @param ${pk.attrNameSmall}s
     * @return
     */
    boolean batchDelete(${pk.attrType}[] ${pk.attrNameSmall}s);
#end

    /**
     * 修改
     * @param ${classNameSmall}
     * @return
     */
    int update(${className} ${classNameSmall});

#if($batchUpdate)
    /**
     * 批量更新
     * @param ${classNameSmall}s
     * @return
     */
    boolean batchUpdate(List<${className}> ${classNameSmall}s);
#end

    /**
     * 通过主键查询
     * @param $pk.attrNameSmall
     * @return
     */
     ${className} get($pk.attrType $pk.attrNameSmall);

    /**
     * 多条件查询
     * @param ${classNameSmall}
     * @return
     */
    List<${className}> list(${className} ${classNameSmall});

#if($sidePagination == "server")
    /**
     * 多条件模糊查询
     * @param ${classNameSmall}
     * @param page
     * @return
     */
    Page list(${className} ${classNameSmall}, Page page);
#else
#if($fuzzyLookup)
    /**
     * 多条件模糊查询
     * @param ${classNameSmall}
     * @return
     */
    List<${className}> listByFuzzy(${className} ${classNameSmall});
#end
#end

}
