<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shulipeng.dao.OracleTableMapper">

    <!-- 查询所有表记录 -->
    <select id="list" resultType="com.shulipeng.domain.Table" >
        select
          t.table_name tableName ,
          c.comments tableComment,
          o.created createTime
        from user_tables t,user_objects o,user_tab_comments c
        where t.table_name = o.object_name
        and t.table_name = c.table_name
        order by t.table_name
    </select>

    <!-- 通过表名查询 -->
    <select id="get" resultType="com.shulipeng.domain.Table">
        select
          t.table_name tableName ,
          c.comments tableComment,
          o.created createTime
        from user_tables t,user_objects o,user_tab_comments c
        where t.table_name = o.object_name
        and t.table_name = c.table_name
        and t.table_name = #{tableName}
    </select>

    <!-- 查询一个表所有列 -->
    <select id="listColumns" resultType="com.shulipeng.domain.Column">
        select
          c.column_name columnName,
          case when c.data_type like 'TIMESTAMP%' then 'timestamp'
          else lower(c.data_type)
          end dataType,
          m.comments as "comment",
          case when (select count(*)
                     from user_constraints i1, user_ind_columns i2
                     where i1.index_name = i2.index_name
                     and i2.table_name = c.table_name
                     and i2.column_name = c.column_name
                     and i1.constraint_type = 'P')
           > 0  then 'PRI' else '' end columnKey,
           '' extra,
          case when (c.data_type like 'TIMESTAMP%' or c.data_type = 'DATE' ) then 1
          else 0
          end isDateType
          from user_tab_cols c,user_col_comments m
          where c.column_name = m.column_name
          and c.table_name = m.table_name
          and c.table_name = #{tableName}
    </select>

</mapper>