package ${package}.service.${module}.impl;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import ${package}.service.${module}.${className}Service;
import ${package}.entity.${module}.${className};
import java.util.List;
#if($sidePagination == "server")
import ${package}.common.Page;
#end
import ${package}.dao.${module}.${className}Mapper;
import com.github.pagehelper.PageHelper;
import com.github.pagehelper.PageInfo;

/**
 * @author ${author}
 * @date ${datetime}
 * @company ${company}
 * @description $!{comment}
 */
@Service
public class ${className}ServiceImpl implements ${className}Service {

    @Autowired
    private ${className}Mapper ${classNameSmall}Mapper;

    @Override
    public int insert(${className} ${classNameSmall}){
        return ${classNameSmall}Mapper.insert(${classNameSmall});
    }

#if($isLogicDelete)
    @Override
    public int deleteLogic($pk.attrType $pk.attrNameSmall){
        return ${classNameSmall}Mapper.deleteLogic($pk.attrNameSmall);
    }
#else
    @Override
    public int delete($pk.attrType $pk.attrNameSmall){
        return ${classNameSmall}Mapper.delete($pk.attrNameSmall);
    }
#end

#if($batchRemove)
    @Override
    public int batchDelete(${pk.attrType}[] ${pk.attrNameSmall}s){
        return ${classNameSmall}Mapper.batchDelete(${pk.attrNameSmall}s);
    }
#end

    @Override
    public int update(${className} ${classNameSmall}){
        return ${classNameSmall}Mapper.update(${classNameSmall});
    }

    @Override
    public ${className} get($pk.attrType $pk.attrNameSmall){
        return ${classNameSmall}Mapper.get($pk.attrNameSmall);
    }

    @Override
    public List<${className}> list(${className} ${classNameSmall}){
        return ${classNameSmall}Mapper.list(${classNameSmall});
    }

#if($fuzzyLookup)
    @Override
    public List<${className}> listByFuzzy(${className} ${classNameSmall}){
        return ${classNameSmall}Mapper.listByFuzzy(${classNameSmall});
    }
#end

#if($sidePagination == "server")
    @Override
    public Page list(${className} ${classNameSmall}, Page page){
        PageHelper.startPage(page.getPageNumber(), page.getPageSize());
#if($fuzzyLookup)
        List<${className}> list = this.listByFuzzy(${classNameSmall});
#else
        List<${className}> list = this.list(${classNameSmall});
#end
        PageInfo<${className}> pageInfo = new PageInfo<${className}>(list);
        page.setTotal(String.valueOf(pageInfo.getTotal()));
        page.setRows(pageInfo.getList());
        return page;
    }
#end

}
