<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <head th:include="include::header"></head>
<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-body">
                    <div id="exampleToolbar" role="group">
                        <button class="btn btn-sm btn-primary">配置</button>
                        <button class="btn btn-sm btn-success" onclick="batchCode()">批量生成</button>
                    </div>
                    <table id="exampleTable"></table>
                </div>
            </div>
        </div>
    </div>
<div th:include="include::footer"></div>
<script src="/js/appjs/generator/generator.js"></script>
</body>
</html>